// Input form buttons
.fields-button {
    position: absolute;
    top: 40vw;
    max-width: 10%;
    z-index: 20;
    border-color: grey;
    .fields-button:hover {
        background-color: black;
    }
}

.add-player-button {
    background-color: green;
    left: 0px;
}
.remove-player-button {
    background-color: red;
    right: 0px;
}

.toggleButtonPanel {
    display: flex;
    position: absolute;
    top: 30px;
    right: 50px;
    display: block;
    
    .togglePrevious {
        background-color: darkgrey;
        margin: 10px;
    }

    .togglePrevious:hover {
        background-color: black;
    }
}

// submit form buttons 
.button-panel {
    display: flex;
    justify-content: center;

    .button {
        margin: 10px;
    }
}