//global buttons - override bootstrap
button {
    border-color: transparent;
    padding: 10px;
    border-radius: 10px;
    background-color: $contrast;

    button:hover { 
        background-color: $darkShade;
        border: solid transparent 2px;
        color: white;
    }
}

// Input form buttons
.buttons-panel {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.add-player-button {
    background-color: green;
    left: 0px;
}
.remove-player-button {
    background-color: red;
    right: 0px;
}

.toggleButtonPanel {
    display: flex;
    position: absolute;
    top: 30px;
    right: 50px;
    display: block;
    
    .togglePrevious {
        // background-color: darkgrey;
        border-color: transparent;
        margin: 10px;
    }

}



// submit form buttons 
.button-panel {
    display: flex;
    justify-content: center;

    .button {
        margin: 10px;
    }
}

.shirt-select {
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    transition: width background-color 1s;
}