@import url('https://fonts.googleapis.com/css?family=Graduate|Montserrat:700|Source+Sans+Pro&display=swap');

$headFont: 'Montserrat', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;
$logoFont: 'Graduate', cursive;

// colour palette 
$darkShade: #000501;
$darkColour: #73ab84;
$lightColour: #99d19c;
$contrast: #79c7c5;
$lightContrast:#ade1e5;