div.input-group {
    padding: 20px 0;
    margin: 10px;
}

div.input-group h3, div.input-group label, div.input-group input {
    @media(max-width: 500px){
        width: 100%;
        display: block;
        flex-wrap: wrap;
    }
    
}


.card {
    padding: 20px;
    position: relative;
    background-color: lightgrey;
}
